@import url('http://fonts.cdnfonts.com/css/karla');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
}

.header {
  display: flex;
  padding: 1.5em;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.1em;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5em auto;
  max-width: 470px;
} 

.input {
  padding: .7em;
  border: #D5D4D8 1px solid;
  border-radius: 5px;
  margin-right: .9em;
} 

.btn-container {
  text-align: center;
}


.btn {
  padding: .5em 7em;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  line-height: 19px;
  color: white;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  ;
}
 

